trigger:
  branches:
    include:
      - main

pool:
  name: Default

variables:
  PYTHON_VERSION: '3.11'

stages:
- stage: CI
  displayName: "Integraci칩n Continua"
  jobs:
  - job: BuildAndTest
    displayName: "Compilar y probar"
    steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '$(PYTHON_VERSION)'
        addToPath: true

    - script: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest-azurepipelines
      displayName: "Instalar dependencias"

    # 游댳 Opci칩n A: resultados autom치ticos en Azure DevOps (Tests)
    - script: |
        pytest --maxfail=5 --disable-warnings -q
      displayName: "Ejecutar pruebas con Pytest (Azure Pipelines plugin)"

    # 游댳 Opci칩n B: generar y publicar resultados en formato XML
    - script: |
        pytest --maxfail=5 --disable-warnings --junitxml=test-results/results.xml
      displayName: "Ejecutar pruebas con Pytest y exportar a XML"

    - task: PublishTestResults@2
      inputs:
        testResultsFiles: '**/test-results/*.xml'
        testRunTitle: 'Resultados de Pytest'
      condition: succeededOrFailed()

    - task: PublishBuildArtifacts@1
      inputs:
        pathToPublish: '$(Build.SourcesDirectory)'
        artifactName: 'BancoCorePackage'
        publishLocation: 'Container'
